en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz
fake-useragent~=0.1
plotly~=5.6
stqdm~=0.0
streamlit~=1.5
watchdog~=2.1
wheel~=0.36
