streamlit==0.82.0
pandas==1.2.4
plotly==4.5
fake-useragent==0.1.11
spacy==3.0.6
numpy==1.20.3
stqdm==0.0.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm
